<br /><br />
@{
    ViewBag.Title = "Verify your DiscountOptionData account";
}

<div class="container">
    
    <div class="jumbotron text-center">
        <h1> <span style="color: #f4511e;">Confirm my email / account</span></h1>
        <p>
            To confirm your account, first check your inbox (associated with the email address you used to register with DiscountOptionData) to see if you received a confirmation email from us.
        </p>
        <p>
            The account confirmation email includes a <strong>Confirm Your Email Address</strong> link. Click this link to confirm your account.
        </p>
        <p>
            If you didn't receive a confirmation email from us, open your <strong>Bulk/Spam Email</strong>
            or <strong>Deleted Email</strong> folders to see if the email was directed there.
            Please also include sales@discountoptiondata.com as a safe sender for any spam blocking software.
        </p>
        <p>



            If you are still unable to find your account confirmation email (after ensuring it has not been marked as spam), or if you have difficulty confirming your account,
            please submit a request to our Customer Support team at
            <a href="mailto:sales@discountoptiondata.com">sales@discountoptiondata.com</a>
        </p>
    </div>

</div>
