<br/>
<br />
@{
    ViewBag.Title = "About US";
}

<div class="container">
    <div class="jumbotron">
        <h1> <span style="color: #f4511e;">ABOUT US</span></h1>
        <h3><strong>OUR MISSION:</strong></h3>
        <p>
            Sick and tired of paying high prices for historical option data?
            Or have been hesitant to buy historical option data because it is not
            so cheap as you found out?
        </p>
        <p>
            Making  a consistent profit trading in the market is hard enough,
            let alone coming up with reliable trading strategies and algorithms and
            then paying <strong>BIG MONEY</strong> for historical data to backtest your strategies.
        </p>
        <p>
            Our mission at <strong>discountoptiondata.com</strong> is to  provide the most affordable end-of-day historical option data
            to consumers ever! Instead of paying thousands of dollars for historical option data from elsewhere
            we offer the whole dataset from 2005 up to today for just a few hundred dollars.
            There is no place on earth that can beat this price! If you find any other websites selling a comparable product
                    at a lower price, please let us know and we will give it to you for free!
        </p>

        <p>
            Since our inception, we have sold our option data to thousands of satisfied customers from around the globe.
            Buyers of our data range from regular, retail traders, students, finance professors to investment professionals
            from countries such as the USA, Canada, Bolivia, Peru, Argentina, Brazil, the United Kingdom, France, Israel,
            Italy, the Netherlands, Switzerland, Denmark, Belgium, Germany, Russia, Rumania, Bulgaria, Italy, India, China,
            Australia, Singapore, Malaysia, Hong Kong, South Korea, Japan, and many others.
            We offer even deeper discount to aspiring finance and quant students when requested.
        </p>
        <p>
            <strong>Our pricing structure is simple and transparent</strong>:
            There is no need to “contact  us for quote”
            like we want to keep pricing secret until we can get a hold of you and totally surprise you with a sticker shock!
            At <strong>discountoptiondata.com</strong>, the pricing is so low, so clear,
            so loud on the home page so you don’t have to guess.
            We also  absolutely don’t care if you are an individual or a rich hedge fund,
            you all pay the same guaranteed lowest price.
            We simply just refuse to rip you off like other
            financial data companies just because we think you can afford it.

        </p>
        <strong>OUR PRODUCTS</strong>
        <p>
            We provide historical option data for all US stock and index symbols of around 4000 of them
             from 2005 up to the present.
            Data could be purchased by year or as a whole historically.<br/>
        
        <br/>
        <p><strong>Data Delivery</strong></p>
        <p>
            Data is delivered as zipped .csv files.
            Data is delivered by:

        </p>
        <br/>
        <p>
            1. <strong>Physical delivery:</strong> compressed csv files stored in flash drive and delivered to your home
             address.
            <br/>
             2. <strong>Google Drive delivery (super recommended)</strong>: upon giving us your valid gmail address, files are automatically delivered instantaneously  to your shared Google Drive
        </p>
        <br/>
        <strong><span style="color:#f4511e">Data Fields</span></strong>
        <p>
           OptionKey, Symbol, ExpirationDate, AskPrice, AskSize, BidPrice, BidSize, LastPrice, PutCall, StrikePrice, Volume, OpenInterest, UnderlyingPrice, DataDate
        </p>
        <strong><span style="color:#f4511e">Sample Data</span></strong>
        <p>For a preview of what your purchased data will look like</p>
        <strong><a href="../Content/SampleData/20190102_SPY.csv">Download Sample File Here</a></strong>
        <br /><br />
        <strong><span style="color:#f4511e">Data Size</span> (compressed):</strong><br />
        <ul>
            <li>All Years (from 2005 to now): more than 32 GB - 1,721,550,509 Rows - more than 4,000 symbols</li>
            <li>2019: > 3.4 GB - 233,542,652 rows - 4,309 symbols</li>
            <li>2018: > 3.3 GB - 132,046,568 rows - 4,352 symbols</li>
            <li>2017: > 3.1 GB - 207,448,542 rows - 4,552 symbols</li>
            <li>2016: 3.3 GB - 213,017,138  rows - 4,693 symbols</li>
            <li>2015: 3.2 GB - 209,676,299 rows - 4,742 symbols</li>
            <li>2014: 2.5 GB - 173,117,228 rows - 4,440 symbols</li>
            <li>2013: 2.2 GB - 139,138,333 rows - 4,197 symbols</li>
            <li>2012: 1.9 GB - 123,285,056 rows - 3,991 symbols</li>
            <li>2011: 1.7 GB - 104,987,524 rows - 3,962 symbols</li>
            <li>2010: 1.4 GB - 66,895,585 rows - 3,747 symbols</li>
          <li>2009: 1.3 GB - 67,748,263 rows - 3,718 symbols</li>
            <li>2008: 1.3 GB - 69,081,973 rows - 3,799 symbols</li>
            <li>2007: 0.95 GB - 56,134,104 rows - 3,684 symbols</li>
            <li>2006: 0.79 GB - 46,992,727 rows - 3,350 symbols</li>
            <li>2005: 0.67 GB - 40,718,240  rows - 3,137 symbols</li>
            @*  <li>2004: 0.58 GB - 34,795,978 rows - 2,703  symbols</li>
            <li>2003: 0.57 GB - 29,594,528 rows - 2,605 symbols</li>*@
        </ul>
        <strong><span style="color:#f4511e">Symbols We Carry</span></strong>
        <p>
            We carry over 4000 symbols and indexes covering the entire US market. Since some companies come and go, merge, break up, etc... the list we provide
            below might change once in a while:
        </p>
        <p>
            a,aa,aac,aal,aan,aaoi,aaon,aap,aapl,aat,
            aau,aav,aaww,aaxj,ab,abax,abb,abbv,abc,abcb,
            abco,abdc,abeo,abev,abg,abm,abmd,abr,abt,abtl,
            abus,abx,aby,acad,acas,acat,acc,acco,acet,acgl,
            ach,achc,achn,acia,aciiq,aciw,acls,acm,acn,acor,
            acpw,acre,acrx,acsf,acta,actg,acur,acw,acwi,acwv,
            acwx,acxm,adap,adbe,adc,adhd,adi,adk,adm,admp,
            adms,adp,adpt,adro,ads,adsk,adtn,advm,adxs,aee,
            aeg,aegn,aegr,aeis,ael,aem,aeo,aep,aer,aeri,
            aes,aet,aezs,af,afam,afco,afg,afh,afi,afl,
            afmd,afsi,afty,ag,agco,agen,agfs,agg,agi,agio,
            agm,agn,agnc,ago,agq,agr,agro,agtc,agu,agx,
            agys,ahc,ahgp,ahh,ahl,ahp,ahs,aht,ai,aig,
            aimc,aimt,ain,ainv,air,airm,ait,aiv,aixg,aiz,
            ajg,ajrd,akam,akao,akba,akg,akr,akrx,aks,al,
            alb,aldr,aldw,ale,alex,alfa,alg,algn,algt,alim,
            alj,alk,alks,all,alle,allt,ally,alny,alog,alqa,
            alr,alrm,alsk,alsn,alv,alxn,am,amag,amat,amba,
            ambc,ambr,amc,amcc,amcn,amcx,amd,ame,amed,amfw,
            amg,amgn,amh,amid,amj,amkr,amlp,amnb,amp,ampe,
            amph,amrc,amri,amrn,amrs,amsc,amsf,amsg,amswa,amt,
            amtd,amtg,amwd,amx,amzn,an,anat,ande,anet,anf,
            anfi,angi,ango,anh,anik,anip,anss,anth,antm,anw,
            any,aoi,aon,aos,aosl,ap,apa,apam,apc,apd,
            apdn,apei,apfh,aph,apic,aple,aplp,apo,apog,apol,
            apps,apq,apri,apt,apts,apu,aqxp,ar,aray,arc,
            arcb,arcc,arco,are,ares,arex,args,argt,ari,aria,
            arii,arlp,arlz,armh,armk,arna,aroc,aropq,arow,arpj,
            arpjq,arql,arr,arrs,arry,artna,artx,arw,arwr,asa,
            asb,asc,ascma,asei,asfi,asgn,ash,ashr,ashs,asmb,
            asml,asna,asps,asr,asrv,ast,astc,aste,asx,asys,
            at,atax,atec,aten,athm,athn,athx,ati,atlc,atls,
            atni,atnm,ato,atr,atra,atrc,atro,atrs,atsg,atu,
            atvi,atw,au,audc,aum,aumn,auo,aux,auy,ava,
            avav,avb,avd,aveo,avg,avgo,avgr,avh,avhi,avid,
            avir,avp,avt,avx,avxl,avy,awh,awi,awk,awr,
            awre,axas,axdx,axe,axgn,axl,axll,axon,axp,axs,
            axta,axti,axu,aya,ayi,ayr,azn,azo,azpn,azur,
            azz,b,ba,baa,baba,baby,bac,bah,bak,bal,
            bam,banc,banr,bap,bas,batra,batrk,bats,bax,bbby,
            bbcn,bbd,bbepq,bbg,bbh,bbl,bbox,bbrg,bbry,bbsi,
            bbt,bbva,bbw,bbx,bby,bc,bcbp,bcc,bce,bcei,
            bcli,bco,bcor,bcov,bcpc,bcr,bcrx,bcs,bdc,bde,
            bdge,bdn,bdsi,bdx,beat,beav,bebe,becn,bel,belfb,
            ben,bery,betr,bf.a,bf.b,bfam,bfin,bfor,bfr,bg,
            bgc,bgcp,bgfv,bgg,bgs,bhbk,bhe,bhi,bhlb,bhp,
            bib,bid,bidu,big,biib,bil,bind,bindq,bio,bioa,
            bioc,biod,bios,bip,bis,bita,bite,biv,bjk,bjri,
            bk,bkcc,bkd,bke,bkep,bkf,bkfs,bkh,bkln,bkmu,
            bks,bku,bkx,blcm,bld,bldp,bldr,blk,blkb,bll,
            blmn,blox,blq,blue,blv,blx,bma,bmch,bmi,bmo,
            bmrn,bms,bmtc,bmy,bncl,bncn,bnd,bndx,bned,bnft,
            bno,bns,bobe,boch,bofi,boh,boil,boja,bokf,bond,
            bont,boom,boot,boq,born,box,bp,bpfh,bpi,bpl,
            bpmc,bpop,bpt,bpx,bpy,br,brb,brc,brcd,brew,
            brf,brfs,brg,brk.b,brkl,brkr,brks,bro,brs,brss,
            brx,brzu,bsac,bsbr,bset,bsf,bsft,bsm,bsmx,bsqr,
            bsrr,bsv,bsx,bte,bti,btn,btuuq,btx,bud,buff,
            burl,buse,bv,bvn,bwa,bwen,bwinb,bwld,bwp,bwx,
            bwxt,bx,bxe,bxmt,bxp,bxs,byd,bzf,bzh,bzq,
            bzun,c,ca,caa,caas,cab,cac,cacb,cacc,caci,
            cacq,caf,cafd,cag,cah,cai,caj,cake,cal,cala,
            cald,call,calm,calx,camp,camt,canf,capl,car,cara,
            carb,cas,casc,cass,casy,cat,catm,cato,caty,cavm,
            cb,cbak,cbb,cbd,cbf,cbg,cbi,cbio,cbk,cbl,
            cbm,cbmg,cboe,cbpo,cbpx,cbr,cbrl,cbs,cbs.a,cbsh,
            cbt,cbu,cbz,cc,ccc,cce,cci,ccih,ccj,cck,
            ccl,cclp,ccm,ccmp,ccne,cco,ccoi,ccp,ccrn,ccs,
            ccur,ccxi,cdd,cde,cdi,cdk,cdns,cdr,cdw,cdxc,
            cdxs,cdzi,ce,ceb,cece,ceco,cel,celg,cemp,cent,
            centa,cenx,ceo,ceqp,cern,cers,ceru,cetc,cetv,ceva,
            cew,cf,cfg,cfi,cfms,cfnl,cfr,cfx,cg,cga,
            cgen,cgi,cgnx,chad,chau,chco,chd,chdn,che,chef,
            chfc,chfn,chgg,chh,chiq,chix,chk,chke,chkp,chkr,
            chl,chmt,chrs,chrw,chs,chsp,cht,chtr,chu,chuy,
            ci,cia,cib,cibr,cie,cien,cig,cim,cinf,cio,
            cir,cisg,cit,ciu,civi,cjesq,ckec,ckh,cl,clb,
            clbs,clc,clct,cld,cldt,cldx,clf,clfd,clgx,clh,
            cli,clir,clls,clms,clmt,clne,clny,clr,cls,clsn,
            club,clvs,clw,clx,cly,cm,cma,cmc,cmcm,cmco,
            cmcsa,cme,cmfn,cmg,cmi,cmls,cmn,cmo,cmp,cmpr,
            cmre,cmrx,cms,cmtl,cna,cnat,cnc,cnce,cnhi,cni,
            cnit,cnk,cnmd,cnnx,cno,cnob,cnp,cnq,cns,cnsl,
            cnty,cnv,cnx,cob,cobz,codi,cof,cog,coh,cohr,
            cohu,col,colb,coll,colm,comm,cone,conn,coo,cop,
            cor,core,corn,corr,cort,cost,cot,coty,cow,cown,
            cp,cpa,cpb,cpe,cpf,cpg,cphd,cpix,cpk,cpl,
            cpla,cplp,cpn,cppl,cprt,cprx,cps,cpsi,cpss,cpt,
            cpta,cqh,cqp,cr,crai,cray,crc,crcm,crd.a,cred,
            cree,cresy,crh,cri,cris,crk,crl,crm,crmd,crme,
            crmt,crnt,croc,crop,crox,crr,crs,crto,crus,crvl,
            crws,cry,crzo,cs,csal,csbk,csc,csco,csd,csfl,
            csgp,csgs,csh,csii,csiq,csj,csl,cslt,csod,csra,
            cst,cste,cstm,csu,csuny,csv,cswc,csx,ctas,ctb,
            ctbi,ctg,cthr,ctic,ctl,ctlt,ctre,ctrl,ctrn,ctrp,
            cts,ctsh,ctso,ctt,ctws,ctxs,cub,cube,cubi,cuda,
            cui,cuk,cunb,cur,cure,cutr,cuz,cva,cvbf,cvco,
            cvcy,cve,cveo,cvg,cvgi,cvgw,cvi,cvlt,cvo,cvrr,
            cvs,cvt,cvti,cvu,cvx,cvy,cw,cwb,cwco,cwi,
            cwst,cwt,cx,cxdc,cxo,cxp,cxrx,cxw,cy,cyb,
            cybr,cyd,cyh,cyna,cyno,cyou,cys,cytk,cytr,cytx,
            cznc,czr,czz,d,dakt,dal,dan,dang,dar,data,
            db,dba,dbb,dbc,dbd,dbe,dbef,dbeu,dbjp,dbo,
            dbp,dbs,dbv,dbvt,dci,dcm,dco,dcom,dct,dd,
            ddc,ddd,ddg,ddm,ddr,dds,de,dea,deck,dei,
            del,dem,denn,deo,depo,derm,des,dest,df,dfe,
            dfj,dfrg,dfs,dft,dg,dgi,dgica,dgii,dgl,dgrw,
            dgs,dgt,dgx,dhi,dhr,dht,dhx,dia,dig,din,
            diod,dis,disca,disck,dish,djp,djx,dk,dkl,dks,
            dl,dlb,dln,dlng,dlph,dlr,dls,dlth,dltr,dlx,
            dm,dmd,dmlp,dmq,dmrc,dnb,dnkn,dnn,dno,dnow,
            dnr,do,doc,dog,don,door,dorm,dov,dow,dox,
            dpk,dplo,dpm,dps,dpz,dq,drad,drd,dre,drh,
            dri,drii,drip,drn,drna,drq,drrx,drv,drys,dsci,
            dsky,dsl,dspg,dss,dst,dsw,dsx,dte,dtea,dtlk,
            dtn,dtsi,dug,duk,dust,dv,dva,dvax,dvn,dvy,
            dw,dwa,dwas,dwch,dwsn,dwx,dx,dxcm,dxd,dxj,
            dxjs,dxlg,dxpe,dxtr,dxyn,dy,dyn,dzk,e,ea,
            ears,eat,ebay,ebf,ebio,ebix,ebnd,ebrby,ebryy,ebs,
            ebsb,ec,eca,ech,echo,ecl,ecns,ecol,ecom,econ,
            ecpg,ecr,ect,ecyt,ed,edap,edc,ede,edit,ediv,
            edr,edu,edz,ee,eeb,eeft,eelv,eem,eemv,eep,
            eeq,eet,eev,efa,efav,efc,efg,efii,efoi,efq,
            efsc,efu,efv,efx,efz,egan,egas,egbn,eght,egi,
            egl,egn,ego,egov,egp,egrx,egy,ehth,eido,eig,
            eigi,eix,ej,el,eld,elgx,elli,elnk,elos,elp,
            elrc,els,ely,eman,emb,emc,emci,eme,emes,emg,
            emkr,emlc,emlp,emms,emn,emr,enb,enbl,endp,eng,
            enh,enia,enic,enlc,enlk,enoc,enph,enr,ens,ensg,
            ent,enta,entg,env,enva,enz,enzl,enzn,eocc,eog,
            epam,epay,epc,epd,epe,ephe,epi,epiq,epm,epp,
            epr,eprs,epv,epzm,eqc,eqgp,eqix,eqm,eqr,eqt,
            eqy,era,erf,eri,eric,erie,erii,erj,ern,eros,
            erx,ery,es,esca,ese,esi,esio,esl,esnd,esnt,
            espr,esrt,esrx,ess,esv,ete,etfc,eth,etm,etn,
            etp,etq,etr,etrm,etsy,eufn,eui,eum,euo,eurl,
            eusc,euu,ev,eva,evc,evdy,evep,ever,evh,evhc,
            evlv,evol,evr,evri,evtc,ew,ewa,ewbc,ewc,ewd,
            ewg,ewh,ewi,ewj,ewk,ewl,ewm,ewn,ewp,ewq,
            ews,ewt,ewu,ewv,eww,ewx,ewy,ewz,exa,exac,
            exam,exar,exas,exc,exel,exk,exls,exp,expd,expe,
            expo,expr,exr,extn,extr,exxiq,eyes,eza,ezj,ezpw,
            ezu,f,faf,falc,fang,faro,fas,fast,faz,fb,
            fbc,fbhs,fbio,fbiz,fbnc,fbnk,fbp,fbr,fbrc,fbt,
            fc,fca,fcau,fcb,fcbc,fce.a,fcel,fcf,fcfs,fcg,
            fch,fcn,fcnca,fcpt,fcs,fcsc,fcx,fdc,fdd,fdef,
            fdl,fdml,fdn,fdp,fds,fdus,fdx,fe,feic,fele,
            felp,fem,feng,feny,fep,fet,fex,feye,fez,ff,
            ffbc,ffg,ffic,ffin,ffiv,ffnw,fgen,fgl,fgp,fh,
            fhco,fhlc,fhn,fi,fibk,fico,fig,fii,finl,fiq,
            fis,fisi,fisv,fit,fitb,five,fivn,fiw,fix,fizz,
            fl,fldm,flex,flic,flir,flks,flml,flo,flow,flr,
            fls,flt,fltx,flws,flxn,fly,fm,fmat,fmbi,fmc,
            fmd,fmer,fmi,fmnb,fms,fmsa,fmx,fn,fnb,fnbc,
            fncl,fnde,fndf,fndx,fnf,fnfg,fnfv,fngn,fnhc,fnlc,
            fnsr,fnv,foe,fold,fomx,for,form,forr,fosl,fox,
            foxa,foxf,fpi,fpo,fprx,fr,frak,fran,frbk,frc,
            fred,frgi,fri,frme,fro,frp,frpt,frsh,frt,fsc,
            fsfr,fsic,fslr,fsm,fsp,fss,fstr,ftag,ftai,ftc,
            ftd,ftec,ftek,fti,ftk,ftnt,ftr,ftri,ftv,fuel,
            ful,full,fult,fun,fur,fv,fvd,fve,fwrd,fxa,
            fxb,fxc,fxd,fxe,fxf,fxg,fxh,fxi,fxl,fxn,
            fxo,fxp,fxr,fxs,fxtm,fxu,fxy,fxz,g,gabc,
            gaia,gain,gale,galt,gars,gasl,gass,gasx,gatx,gaz,
            gbci,gbdc,gbli,gbp,gbt,gbx,gcap,gcc,gci,gco,
            gcp,gd,gddy,gden,gdot,gdpmq,gdq,gdx,gdxj,gdxs,
            gdxx,ge,gef,gel,gem,gen,gene,geo,geos,gern,
            ges,gevo,gex,gfa,gff,gfi,gfn,gg,ggal,ggb,
            ggg,ggp,ghdx,ghl,ghm,gib,gifi,gigm,giii,gil,
            gild,gilt,gimo,giq,gis,gk,gkos,glad,glbl,gld,
            gldd,gldx,glf,gll,glng,glob,glog,glop,glp,glpi,
            glpw,glre,glt,gluu,glw,gm,gman,gme,gmed,gmf,
            gmlp,gmo,gmq,gnc,gnca,gncma,gne,gnl,gnmk,gnr,
            gnrc,gnrt,gntx,gnw,gogl,gogo,gol,gold,good,goog,
            googl,goro,gov,gpc,gpi,gpk,gpl,gpn,gpor,gpre,
            gpro,gps,gpt,gpx,gra,grbk,grc,grek,grfs,grmn,
            grow,grpn,grub,gs,gsat,gsb,gsbc,gsg,gsh,gsie,
            gsih,gsit,gsk,gsl,gslc,gsm,gss,gst,gsvc,gt,
            gte,gtim,gtls,gtn,gts,gtt,gtxi,gty,guid,gur,
            gure,guru,gush,gv,gva,gvi,gwb,gwl,gwph,gwr,
            gwre,gww,gwx,gxc,gxg,gxp,gzt,h,ha,habt,
            hack,hae,hafc,hain,hal,halo,hao,har,has,hasi,
            hawk,hayn,hban,hbhc,hbi,hbio,hbm,hbnc,hbp,hca,
            hcci,hchc,hci,hckt,hclp,hcn,hcp,hcsg,hd,hdb,
            hdge,hdng,hdp,hds,hdsn,hdv,he,heco,hedj,hees,
            hefa,hei,hei.a,hele,hep,hes,hewg,hewj,hezu,hf,
            hfc,hfwa,hgg,hgt,hgx,hhc,hhs,hi,hibb,hifr,
            hig,hii,hil,himx,hive,hiw,hk,hl,hlf,hli,
            hlit,hls,hlt,hlth,hlx,hmc,hmhc,hmlp,hmn,hmst,
            hmsy,hmy,hngr,hni,hnp,hnr,hnrg,hnsn,hoft,hog,
            holi,holx,homb,hon,hope,hos,hot,hov,hp,hpe,
            hpj,hpp,hpq,hpt,hqcl,hqy,hr,hrb,hrc,hrg,
            hri,hrl,hrs,hrtg,hrtx,hrzn,hsbc,hsc,hsic,hsii,
            hsni,hst,hstm,hsy,ht,hta,htbi,htbk,htch,htgc,
            hth,htht,htld,htlf,htwr,htz,hubb,hubg,hubs,hum,
            hun,hurn,husa,huse,hvt,hw,hway,hwcc,hwkn,hxl,
            hy,hyd,hyg,hygs,hyh,hyld,hymb,hys,hzn,hznp,
            hzo,i,iac,iag,iai,iart,iat,iau,ibb,ibcp,
            ibkc,ibkr,ibm,ibn,iboc,ibp,ibtx,icad,icd,ice,
            icf,icfi,icld,iclr,icn,icon,icpt,icui,ida,idcc,
            idi,idra,idsy,idt,idti,idu,idv,idxx,ief,iefa,
            iei,iemg,ieo,iep,iev,iex,iez,iff,ifgl,ifn,
            ige,igf,ign,igov,igt,igv,ihdg,ihe,ihf,ihg,
            ihi,ihy,iiin,iiji,iilg,iivi,ijh,ijj,ijk,ijr,
            ijs,ijt,ikgh,il,ilf,ilmn,im,imax,imdz,imgn,
            imh,imkta,imlp,immr,immu,imn,imo,imos,impr,impv,
            ims,imuc,inap,incr,incy,inda,indb,indl,indy,infi,
            infn,info,infy,ing,ingn,ingr,inin,inn,ino,inod,
            inov,inp,insm,inst,insy,int,intc,intl,intu,intx,
            inva,inve,invn,inwk,inxn,inxx,io,ioc,ions,ioo,
            iosp,iots,ip,ipar,ipay,ipcc,ipci,ipff,ipg,ipgp,
            iphi,iphs,ipi,ipxl,iqnt,ir,irbt,irdm,iret,irg,
            irm,irt,irwd,isbc,isca,isig,isil,isle,isra,isrg,
            issc,it,itb,itc,itci,itek,itg,itgr,itm,itot,
            itri,itt,itub,itw,ivac,ivc,ive,ivr,ivv,ivw,
            ivz,iwb,iwc,iwd,iwf,iwm,iwn,iwo,iwp,iwq,
            iwr,iws,iwv,ixc,ixj,ixp,ixus,ixys,iye,iyf,
            iyg,iyh,iyj,iym,iyr,iyt,iyw,iyz,jack,jakk,
            jaso,jax,jazz,jbht,jbl,jblu,jbss,jbt,jci,jcom,
            jcp,jd,jdst,je,jec,jets,jgwe,jive,jjc,jjg,
            jjsf,jkhy,jks,jll,jmba,jmei,jnj,jnk,jnp,jnpr,
            jns,jnug,jo,jobs,joe,jone,joy,jpep,jpm,jpnl,
            jrjc,juno,jw.a,jwn,k,kai,kalu,kamn,kang,kar,
            kate,kb,kbal,kbe,kbh,kbr,kbwb,kcap,kce,kcg,
            ke,keg,kegx,kelya,kem,kep,kerx,kex,key,keys,
            keyw,kfrc,kfy,kgc,khc,kie,kim,kin,kirk,kite,
            kkd,kkr,klac,klic,klxi,kmb,kmg,kmi,kmpr,kmt,
            kmx,kn,knd,kndi,knl,knop,knx,ko,kodk,kof,
            kol,kold,kona,kop,kopn,kors,kos,kpti,kr,kra,
            krc,kre,krg,krny,kro,ks,kss,ksu,kt,ktcc,
            ktos,ktwo,kvhi,kw,kweb,kwr,kyn,kz,l,labd,
            labl,labu,lad,ladr,lamr,lanc,layn,laz,lb,lbai,
            lbio,lbj,lbrda,lbrdk,lbtya,lbtyk,lby,lc,lci,lcut,
            ldl,ldos,ldr,ldrh,le,lea,leco,lee,leg,leju,
            lemb,len,lfc,lfl,lfus,lfvn,lgcy,lgf,lgih,lgnd,
            lh,lhcg,lho,lii,lila,lilak,linc,lineq,lion,liox,
            lit,litb,lite,live,livn,ljpc,lkfn,lkq,ll,lll,
            llnw,lltc,lly,lm,lmat,lmca,lmia,lmnr,lmnx,lmos,
            lmt,ln,lnc,lnce,lncoq,lndc,lng,lnkd,lnn,lnt,
            lob,lock,loco,lode,logi,logm,lope,lorl,lov,low,
            lpcn,lpg,lpi,lpl,lpla,lpnt,lpsn,lpt,lpx,lq,
            lqd,lqdt,lrad,lrcx,lrn,lscc,lstr,lsxma,ltc,ltpz,
            ltrpa,ltxb,lub,luk,lulu,luv,lux,lvlt,lvnta,lvs,
            lxft,lxk,lxp,lxrx,lxu,lyb,lyg,lyts,lyv,lzb,
            m,ma,maa,mac,mack,mag,main,man,manh,mant,
            manu,mar,mara,mas,masi,mat,matn,matr,matw,matx,
            mb,mbb,mbfi,mbi,mblx,mbly,mbt,mbtf,mbuu,mbwm,
            mc,mcbc,mcc,mcd,mcep,mcf,mcft,mchi,mchp,mchx,
            mck,mco,mcpiq,mcrb,mcri,mcrn,mcs,mcy,md,mdc,
            mdca,mdco,mdgn,mdiv,mdlz,mdp,mdr,mdrx,mdso,mdt,
            mdu,mdvn,mdxg,mdy,med,meet,meg,mei,meip,meli,
            memp,ment,meoh,mep,merc,mesg,met,mfa,mfc,mfcb,
            mfg,mfin,mflx,mfrm,mfs,mg,mga,mgc,mgee,mgi,
            mgic,mgk,mgln,mgm,mgnx,mgp,mgpi,mgrc,mgt,mgv,
            mhgc,mhk,mhld,mho,mic,midd,midu,midz,mifi,mik,
            mind,mini,mint,mitk,mitl,mitt,mjn,mkc,mkl,mksi,
            mkto,mktx,mlhr,mli,mlm,mlnk,mlnx,mlpi,mlpn,mlpx,
            mlq,mlr,mmc,mmi,mmlp,mmm,mmp,mms,mmsi,mmyt,
            mn,mni,mnk,mnkd,mnov,mnr,mnro,mnst,mnta,mntx,
            mnx,mo,moat,mobi,mobl,mod,modn,mog.a,moh,momo,
            mon,moo,more,morn,mos,mosy,mov,mpaa,mpc,mpel,
            mpg,mplx,mpw,mpwr,mpx,mrc,mrcc,mrcy,mrd,mrin,
            mrk,mrln,mro,mrtn,mrtx,mrvl,ms,msa,msb,mscc,
            msci,msex,msfg,msft,msg,msgn,msi,msm,mstr,mstx,
            mt,mtb,mtch,mtd,mtdr,mtg,mtge,mth,mtl,mtn,
            mtor,mtrn,mtrx,mtsc,mtsi,mtu,mtw,mtx,mtz,mu,
            mub,muni,mur,musa,mux,mvc,mvis,mvo,mvv,mwa,
            mww,mx,mxea,mxef,mxi,mxim,mxl,mxwl,mycc,mye,
            mygn,myl,myrg,myy,mzor,mzz,n,nadl,nak,name,
            nano,nao,nap,nat,nati,natr,nav,navb,navg,navi,
            nbhc,nbix,nbl,nbr,nbtb,nci,nclh,ncmi,ncq,ncr,
            ncs,nct,ncty,ndaq,ndls,ndo,ndrm,ndro,ndsn,ndx,
            ne,nee,neff,nem,neo,neog,neon,nept,nerv,nesc,
            neu,newm,newr,newt,nfbk,nfg,nflx,nfx,ng,ngd,
            ngg,nghc,ngl,ngs,ngvc,ngvt,nhc,nhi,nhtc,ni,
            nib,nice,nihd,nile,njr,nk,nka,nke,nktr,nlnk,
            nls,nlsn,nlst,nly,nm,nmbl,nmfc,nmih,nmm,nmr,
            nmrx,nnbr,nni,nnn,nnvc,noa,noah,nobl,noc,nog,
            nok,nord,nov,novt,now,np,npd,npo,nptn,nq,
            nr,nre,nrf,nrg,nrp,nrt,nrz,ns,nsa,nsam,
            nsc,nsh,nsit,nsm,nsp,nsr,nssc,nstg,nsu,ntap,
            ntct,ntes,ntgr,ntp,ntra,ntri,ntrs,ntt,ntwk,nuan,
            nue,nugt,nus,nuva,nvax,nvcr,nvda,nvdq,nvee,nvgn,
            nvgs,nviv,nvmi,nvo,nvro,nvs,nvta,nvtr,nwbi,nwbo,
            nwe,nwl,nwn,nwpx,nws,nwsa,nwy,nx,nxpi,nxrt,
            nxst,nxtm,nycb,nyld,nyld.a,nymt,nymx,nyrt,nyt,nzd,
            o,oa,oak,oaks,oas,ob,oc,ocfc,ocip,oclr,
            ocn,ocrx,ocul,odfl,odp,oec,oef,oesx,oex,ofc,
            ofg,ofix,oge,ogs,ogxi,ohai,ohi,ohrp,oi,oih,
            oii,oil,ois,oke,oks,oksb,oled,olli,oln,olp,
            omam,omc,omcl,ome,omed,omer,omex,omf,omi,omn,
            on,onb,once,ondk,one,onp,onvo,ooma,opb,opht,
            opk,opy,ora,oran,orbc,orbk,orc,orcl,orex,ori,
            orig,orit,orly,ormp,orn,osbc,osir,osis,osk,ostk,
            osur,osx,otex,otic,ottr,ounz,ousa,out,outr,ovas,
            oxm,oxy,ozm,ozrk,p,paa,paas,pac,pacb,pacw,
            pag,pagp,pah,pahc,pam,panw,parr,patk,pay,payc,
            payx,pb,pba,pbct,pbf,pbfx,pbh,pbi,pbpb,pbr,
            pbr.a,pbt,pbw,pbyi,pcar,pcbk,pccc,pcef,pcg,pch,
            pcln,pcmi,pcom,pcrx,pcti,pcty,pcy,pcyg,pcyo,pdce,
            pdco,pdfs,pdli,pdm,pdp,pds,pe,peb,pebo,peg,
            pega,pegi,pei,peix,pek,pen,penn,peo,pep,per,
            peri,pery,pes,pesi,pets,petx,pey,pez,pf,pfbc,
            pfe,pff,pfg,pfgc,pfie,pflt,pfm,pfmt,pfnx,pfpt,
            pfs,pfsi,pfsw,pg,pgc,pgem,pgf,pgh,pgj,pglc,
            pgnd,pgnx,pgr,pgre,pgti,pgx,ph,phb,phdg,phg,
            phh,phm,phmd,pho,phx,pick,pico,pid,pie,pii,
            pin,pinc,pip,pir,piz,pjc,pjp,pjt,pkd,pke,
            pkg,pki,pkoh,pkw,pkx,pky,plab,play,plce,plcm,
            pld,plki,plnt,plow,plpm,plt,plug,plx,plxs,pm,
            pmc,pmt,pmts,pn,pnc,pnfp,pnk,pnm,pnnt,pnqi,
            pnr,pnra,pnw,pny,podd,pol,pool,poq,por,post,
            pot,powi,powl,ppbi,ppc,ppg,pph,pphm,ppl,ppp,
            pps,pq,pra,praa,prah,prcp,prf,prft,prfz,prgo,
            prgs,prgx,pri,prim,prk,prkr,prlb,prmw,prn,pro,
            prsc,prss,prta,prtk,prty,pru,prxl,psa,psb,psch,
            psdv,psec,psg,psl,psmt,pso,psp,psq,pst,pstb,
            pstg,psti,psunq,psx,psxp,ptc,ptct,pten,ptf,pth,
            pthn,ptie,ptla,ptm,ptr,ptx,puk,pvahq,pvg,pvh,
            pvtb,pwe,pwr,px,pxd,pxh,pxi,pxj,pxlw,pypl,
            pza,pze,pzn,pzo,pzza,q,qada,qbq,qcom,qcrh,
            qdel,qep,qgen,qhc,qid,qihu,qiwi,qld,qlgc,qlik,
            qlti,qlys,qnst,qqew,qqq,qqqc,qqqe,qrvo,qsii,qsr,
            qtec,qtm,qts,qtwo,qtwwq,quad,qual,quik,qumu,qunr,
            quot,qure,qvca,r,race,rad,rai,rail,rare,ras,
            rate,rave,ravn,rax,rba,rbc,rbcaa,rbcn,rbs,rci,
            rcii,rcl,rcmt,rdc,rden,rdi,rdn,rdnt,rds.a,rds.b,
            rdus,rdwr,rdy,re,recn,reed,refr,reg,regi,regn,
            rei,reis,rek,rell,rely,rem,remx,ren,renn,res,
            resi,retl,rev,rew,rexi,rexr,rexx,rez,rf,rfil,
            rfp,rga,rgc,rgen,rgld,rgls,rgr,rgs,rh,rhi,
            rhp,rht,ric,rice,rick,rig,rigl,rigp,rinf,ring,
            rio,rja,rjetq,rjf,rji,rjn,rl,rlg,rlgt,rlgy,
            rlh,rli,rlj,rloc,rlv,rlyp,rm,rmax,rmbs,rmd,
            rmp,rmti,rnet,rng,rnr,rnst,rnwk,rock,rog,roiak,
            roic,rok,rol,roll,rom,rop,rosg,rost,rovi,royt,
            rp,rpai,rpd,rpg,rpm,rprx,rpt,rptp,rpv,rpxc,
            rrc,rrd,rrgb,rrms,rrr,rrts,rs,rsg,rso,rsp,
            rspp,rst,rsti,rsx,rsys,rt,rtec,rth,rtix,rtk,
            rtn,rtrx,rubi,rui,run,rusha,rusl,russ,rut,ruth,
            rvlt,rvnc,rvsb,rvx,rwj,rwk,rwl,rwm,rwo,rwr,
            rwt,rwx,rxdx,rxl,rxn,ry,ryaay,ryam,ryh,ryi,
            ryn,s,sa,saa,saas,sabr,safm,saft,sage,sah,
            saia,saic,sale,salm,salt,sam,san,sand,sanm,sanw,
            sap,sasr,sats,save,sb,sbac,sbcf,sbgi,sbgl,sbh,
            sbio,sblk,sbny,sbra,sbs,sbsi,sbux,sby,sc,scai,
            scco,scg,scha,schb,schc,schd,sche,schf,schg,schh,
            schl,schm,schn,schp,schv,schw,schx,sci,scif,scj,
            scl,scln,scm,scmp,scnb,sco,scor,scs,scsc,scss,
            scty,scvl,scwx,scz,sdiv,sdlp,sdog,sdow,sdr,sdrl,
            sds,sdt,sdy,se,sea,seac,seas,sedg,see,seed,
            sef,seic,sem,semg,semi,sep,serv,sf,sfbs,sfc,
            sfe,sfl,sfly,sfm,sfnc,sfr,sfs,sfun,sfxeq,sgbk,
            sgc,sgen,sgg,sgi,sgmo,sgms,sgnt,sgol,sgry,sgu,
            sgy,sgyp,sh,shak,shen,shld,shlm,shlo,shlx,sho,
            shoo,shop,shor,shos,shpg,shv,shw,shy,sid,sien,
            sify,sig,sigi,sigm,sil,silj,simo,sina,sir,siri,
            sivb,sivr,six,sjb,sji,sjm,sjnk,sjr,sjt,sjw,
            ska,skf,skis,skm,skt,skul,skx,skyw,skyy,slab,
            slb,slca,slf,slg,slgn,slm,slp,slrc,slv,slw,
            slx,sm,smci,smed,smfg,smg,smh,smlp,smn,smp,
            smrt,smsi,smtc,smtx,sn,sna,snak,snbc,snc,sncr,
            sne,snh,snhy,sni,snmx,snn,snow,snp,snps,snr,
            snss,snta,snv,snx,sny,so,socl,soda,sohu,sol,
            son,sonc,sons,sorl,sox,soxl,soxs,soxx,soyb,sp,
            spa,spar,spb,spg,spgi,sph,sphb,sphd,spil,splk,
            spls,splv,spn,spnc,spne,spok,sppi,spr,sprt,spsc,
            sptn,spwh,spwr,spx,spxc,spxl,spxpm,spxs,spxu,spy,
            sq,sqbg,sqi,sqm,sqnm,sqqq,sr,src,srce,srcl,
            srdx,sre,srev,srg,sri,srne,srpt,srs,srt,srty,
            ssb,ssd,sseiq,ssg,ssh,ssi,ssl,ssn,ssnc,ssni,
            sso,ssp,ssri,sss,sstk,ssw,ssys,st,staa,stag,
            star,stay,stb,stba,stbz,stc,ste,stfc,sti,stj,
            stkl,stl,stld,stm,stml,stmp,stng,sto,ston,stor,
            str,stra,strl,strp,strza,sts,stt,stv,stwd,stx,
            stxs,stz,su,sui,sum,sun,suneq,suns,sunw,sup,
            supn,sva,svu,svvc,svxy,swc,swft,swhc,swir,swk,
            swks,swm,swn,swx,sxc,sxcp,sxe,sxi,sxl,sxt,
            sybt,syf,syk,syke,symc,symx,syna,sync,synl,synt,
            syq,syrg,syt,syx,syy,szmk,t,ta,taco,tact,
            taho,tan,tao,tap,taro,tasr,tast,tat,tbbk,tbf,
            tbi,tbnk,tbph,tbra,tbt,tcap,tcb,tcbi,tcbk,tck,
            tco,tcp,tcpc,tcrd,tcs,tcx,td,tdc,tdg,tdiv,
            tdoc,tds,tdw,tdy,team,tear,tecd,tech,tecl,tecs,
            tef,tegp,tel,ten,tenx,teo,tep,teq,ter,terp,
            teso,teva,tex,tfi,tfsl,tfx,tg,tga,tgb,tgh,
            tgi,tgna,tgp,tgt,tgtx,thc,thd,thff,thg,thld,
            thm,tho,thr,thrm,ths,ti,ticc,tier,tif,tile,
            time,tiny,tip,tis,tisi,titn,tivo,tjx,tk,tkai,
            tkc,tkr,tlgt,tlh,tlk,tllp,tlmr,tln,tlp,tlrd,
            tlt,tlys,tm,tmf,tmh,tmhc,tmk,tmo,tmp,tmst,
            tmus,tmv,tna,tnav,tnc,tndm,tnet,tngo,tnk,tnp,
            tnxp,tol,too,tot,tour,town,towr,tpc,tph,tplm,
            tpre,tpvg,tpx,tqqq,tr,trc,trco,trec,tree,trex,
            trgp,tri,trib,tril,trip,trk,trmb,trmk,trn,trnc,
            trno,trov,trow,trox,trp,trq,trr,trs,trst,trtn,
            tru,true,trup,trv,trvn,trx,trxc,ts,tsco,tse,
            tsem,tsl,tsla,tslx,tsm,tsn,tso,tsq,tsra,tsro,
            tss,tsu,ttc,ttec,ttek,ttgt,tti,ttm,ttmi,ttnp,
            ttoo,ttph,tts,ttt,ttwo,tu,tube,tues,tumi,tup,
            tur,tv,tvia,tvpt,twi,twin,twlo,twm,two,twou,
            twtr,twx,tx,txmd,txn,txrh,txt,tyc,tyd,tyl,
            tyo,type,tza,tzoo,ua,uac,ual,uam,uamy,uan,
            uba,ubio,ubnk,ubnt,ubs,ubsh,ubsi,ubt,ucbi,ucfc,
            uco,ucp,uctt,udn,udow,udr,ue,uec,ueic,ueps,
            ufcs,ufi,ufpi,ufs,uga,ugi,ugl,ugp,uhal,uhs,
            uht,uihc,uis,ukxm,ul,ulbi,ule,ulta,ulti,umbf,
            umc,umdd,umh,umpq,un,unf,unfi,ung,unh,unis,
            unl,unm,unp,unt,unvr,unxl,uplmq,upro,ups,uqm,
            ura,urbn,ure,uri,urth,urty,usac,usat,usb,uscr,
            usd,usdu,usfd,usg,usl,usm,usmv,uso,usph,usq,
            ust,utek,uthr,uti,utl,utsi,utx,uty,uup,uuuu,
            uve,uvsp,uvv,uvxy,uwm,uxi,uyg,uym,v,va,
            vac,val,vale,vale.p,var,vasc,vaw,vb,vbk,vblt,
            vbr,vc,vcel,vcit,vclt,vcr,vcra,vcyt,vdc,vde,
            vdsi,vea,vec,veco,vedl,veev,ver,vet,veu,vfc,
            vfh,vg,vgk,vgr,vgt,vgz,vhc,vht,via,viab,
            viav,vicl,vicr,vig,viix,vip,vips,virt,vis,visi,
            visn,viv,vivo,vix,vixm,vixy,vjet,vlo,vlp,vlrs,
            vly,vmc,vmem,vmi,vmw,vnce,vnda,vnet,vno,vnom,
            vnq,vnqi,vnr,vntv,vo,voc,vod,voe,voo,vot,
            vox,voxx,voya,vpg,vpl,vpu,vr,vra,vrml,vrns,
            vrnt,vrp,vrsk,vrsn,vrtu,vrtv,vrtx,vrx,vsat,vsh,
            vsi,vslr,vss,vstm,vsto,vt,vtae,vti,vtl,vtnr,
            vtr,vtti,vtv,vtwo,vug,vuzi,vv,vvc,vvi,vvus,
            vwo,vwr,vxf,vxq,vxus,vxx,vxz,vym,vz,w,
            wab,wabc,wac,wafd,wage,wair,wal,wash,wat,watt,
            wb,wba,wbai,wbc,wbmd,wbs,wcc,wcg,wcic,wcn,
            wd,wday,wdc,wdfc,wdr,weat,web,wec,wen,wern,
            wes,wetf,wex,wfc,wfd,wfm,wft,wg,wgl,wgo,
            wgp,whg,whr,wibc,wifi,win,wing,wint,wire,wit,
            wix,wk,wlb,wlh,wlk,wlkp,wll,wltgq,wltw,wm,
            wmar,wmb,wmc,wmgi,wms,wmt,wnc,wnr,wnrl,wns,
            wood,woof,wor,wpc,wpg,wppgy,wprt,wpx,wpz,wr,
            wrb,wre,wresq,wri,wrk,wrld,wsbc,wsbf,wsfs,wsm,
            wso,wsr,wst,wstc,wtba,wtfc,wti,wtr,wts,wtw,
            wu,wuba,wwav,wwd,wwe,www,wy,wyn,wynn,x,
            xau,xbi,xco,xcra,xda,xdb,xdc,xde,xdn,xds,
            xdz,xec,xel,xent,xeo,xes,xhb,xhr,xin,xl,
            xlb,xle,xlf,xlfs,xli,xlk,xlnx,xlp,xlre,xlrn,
            xlu,xlv,xly,xme,xncr,xnet,xom,xoma,xon,xone,
            xop,xoq,xoxo,xph,xplr,xpo,xpp,xra,xray,xrdc,
            xrm,xrs,xrt,xrx,xsd,xsp,xxia,xxii,xyl,y,
            yang,yao,ycl,ycs,ydkn,yelp,yge,yhoo,yinn,ymlp,
            yndx,yorw,ypf,yrcw,yuk,yum,yume,yxi,yy,yzc,
            z,zagg,zayo,zbh,zbio,zbra,zen,zeus,zfgn,zg,
            zgnx,zhne,zincq,zion,ziop,zixi,zltq,zn,znga,znh,
            zoes,zpin,zroz,zsl,zts,zumz,zx,zyne
        </p>
    </div>
 </div>

