<br/>
<br/>
<br/>
<br/>

@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <div class="jumbotron text-center">
        <h1> <span style="color: #f4511e;">Contact Us</span></h1>
        
        <p>
            To save cost for you, we don't hire resources to answer your phone 24/7 but we definitely answer 
            your emails fairly quickly. For questions and/or feedback please write to us at
            <a href="mailto:sales@discountoptiondata.com">sales@discountoptiondata.com</a>
        </p>
    </div>

</div>

@*<div class="container bg-grey">
    <h1 class="text-center"><span style="color: #f4511e;">CONTACT</span></h1>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
         
            <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:sales@discountoptiondata.com">sales@discountoptiondata.com</a> </p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>*@