<br />
<br />
<br />
<br />

@{
    ViewBag.Title = "FAQ";
}

<div class="container">

    <div class="jumbotron text-center">
        <h1> <span style="color: #f4511e;">Frequently Asked Questions</span></h1>
    
        <h2>How is the product delivered?</h2>

        <p>
            Data is delivered as zipped .csv files.
            Data is delivered by:
        </p>

        <p>
            1. <strong>Physical delivery:</strong> compressed csv files stored in flash drive and delivered to your physical 
            address.
            <br />
            2. <strong>Google Drive delivery (super recommended)</strong>: upon providing us your valid gmail address, files are automatically delivered within 24 hours to your shared Google Drive.
            This is so hassle-free compared to the other options. The reason Google Drive is super recommended is in the extremely rare case of our servers going down at all, the chance of 
            Google Drive going down is even way a LOT more unlikely. One note is your Google Drive most likely has 15 GBs available be default, but don't worry, since the files
            are shared from our Google Drive (more than 1 TBs), you don't have to worry about your Google Drive capacity.
        </p>


        @*<h2>How accurate is the data?</h2>
        <p>
            Our data is aggregated daily after market hours from Options Price Reporting Authority (OPRA), the most trusted source of option data on the market.
            We are 99.95% confident of its accuracy and reliability.
        </p>*@
        <h2>What are the symbols you carry?</h2>
        <p>
            We carry over 4000 symbols and indexes covering  the entire US market. For the list of symbols and indexes please refer to
            our <a href="@Url.Content("../home/ProductDetails")">product details</a>
        </p>
        @*<h2>If I buy data today, can I get the daily data for the rest of year?</h2>
        <p>Absolutely, the data file for the year is updated daily, you can always log back in on another day to get the latest data.</p>*@
        <h2>Do you  carry past options data for companies that have been acquired?</h2>
        <p>Since data is historical, acquired companies would be recorded too.</p>

        @*<h2>Do you sell option data for individual symbols?</h2>
        <p>As of now, we only sell whole data set for the following individual symbols SPY, SPX, and QQQ. Others to be offered in the future. Please feel free to contact for your symbols of interest.</p>*@

        <h2>I just wanted to quickly confirm that the option data you provide for the tickers covered includes all option expiration dates, i.e. includes all LEAPS?</h2>
        <p>Yes, data includes all option expiration dates, i.e. includes all LEAPS.</p>

        <h2>Do you have historical minute level option data for USA stocks and Indexes?</h2>
        <p>No, we don’t. We specialize only in end of day option data at this point.</p>

        <h2>How is security enforced for online transactions at discountoptiondata.com?</h2>
        <p>
            Your credit card transactions are secure with us. We use secure socket layer technology throughout the site. We do not store
            your credit card numbers on our servers and are PCI compliant.
          
        </p>
    </div>

</div>
