<br />
<br />
@{
    ViewBag.Title = "Product";
}

<div class="container">
    <div class="jumbotron">
        <h1> <span style="color: #f4511e;">OUR PRODUCTS</span></h1>
        
        <p>
            We provide historical option data for all US stock and index symbols of around 4000 of them
            from 2005 up to the present.
            Data could be purchased by year or as a whole historically.
        </p>
        <br />
        <p><strong>Data Delivery</strong></p>
        <p>
            Data is delivered as zipped .csv files.
            Data is delivered by:

        </p>
        <br />
        <p>
            1. <strong>Physical delivery:</strong> compressed csv files stored in flash drive and delivered to your home
            address.
            <br />
            3. <strong>Google Drive delivery (super recommended)</strong>: upon giving us your valid gmail address, files are automatically delivered instantaneously  to your shared Google Drive
        </p>
        <br />
        <strong><span style="color:#f4511e">Data Fields - Bare</span></strong>
                <p>
                    Symbol, ExpirationDate, AskPrice, AskSize, BidPrice, BidSize, LastPrice, PutCall, StrikePrice, Volume, OpenInterest, UnderlyingPrice, DataDate
                </p>
                <strong><span style="color:#f4511e">Data Fields - With Greeks</span></strong>
                <p>
                    Symbol, ExpirationDate, AskPrice, AskSize, BidPrice, BidSize, LastPrice, PutCall, StrikePrice, Volume, OpenInterest, UnderlyingPrice, DataDate, Implied Volatility, Delta, Gamma, Vega, Rho, Theta
                </p>
                <strong><span style="color:#f4511e">Sample Data</span></strong>
                <p>For a preview of what your purchased data will look like</p>
                <strong><a href="../Content/SampleData/20190102_SPY.csv">Download Sample File Here</a></strong>
                <br/><br/>
        <strong>Data Sizes (compressed):</strong>
        <ul>
            <li>All Years (from 2005 to now): more than 30 GB - 1,721,550,509 Rows - more than 4,000 symbols</li>
            <li>2018: > 3.3 GB - 216,593,901 rows - 4,352 symbols</li>
            <li>2017: > 3.1 GB - 187,448,542 rows - 4,552 symbols</li>
            <li>2016: 3.3 GB - 213,017,138  rows - 4,693 symbols</li>
            <li>2015: 3.2 GB - 209,676,299 rows - 4,742 symbols</li>
            <li>2014: 2.5 GB - 173,117,228 rows - 4,440 symbols</li>
            <li>2013: 2.2 GB - 139,138,333 rows - 4,197 symbols</li>
            <li>2012: 1.9 GB - 123,285,056 rows - 3,991 symbols</li>
            <li>2011: 1.7 GB - 104,987,524 rows - 3,962 symbols</li>
            <li>2010: 1.4 GB - 66,895,585 rows - 3,747 symbols</li>
           <li>2009: 1.3 GB - 67,748,263 rows - 3,718 symbols</li>
            <li>2008: 1.3 GB - 69,081,973 rows - 3,799 symbols</li>
            <li>2007: 0.95 GB - 56,134,104 rows - 3,684 symbols</li>
            <li>2006: 0.79 GB - 46,992,727 rows - 3,350 symbols</li>
            <li>2005: 0.67 GB - 40,718,240  rows - 3,137 symbols</li>
           @*  <li>2004: 0.58 GB - 34,795,978 rows - 2,703  symbols</li>
            <li>2003: 0.57 GB - 29,594,528 rows - 2,605 symbols</li>*@
        </ul>
    </div>
</div>
