<div class="container">
    <div class="jumbotron">
        <h1 class="h1 title">Terms &#038; Conditions</h1>
        <div class="social-impact">


            <div class="content-block content">
                <p>TERMS AND CONDITIONS OF USE</p>
                <p>BY ACCESSING AND USING THIS WEBSITE, YOU AGREE TO THE FOLLOWING TERMS AND CONDITIONS OF USE (INCLUDING THE PRIVACY POLICY INCORPORATED HEREIN BY REFERENCE), 
                AS WELL AS ALL APPLICABLE LAWS AND REGULATIONS. IF YOU DO NOT AGREE TO ALL OF THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS OR OTHERWISE USE THIS
                 WEBSITE OR ANY INFORMATION OR CONTENT CONTAINED ON THIS WEBSITE. YOUR ACCESS TO AND USE OF THIS WEBSITE CONSTITUTES YOUR ACCEPTANCE OF AND
                 AGREEMENT TO ABIDE BY EACH OF THE TERMS AND CONDITIONS SET FORTH HEREIN. THESE TERMS AND CONDITIONS MAY BE MODIFIED, CHANGED, SUPPLEMENTED
                 OR UPDATED BY DISCOUNTOPTIONDATA.COM AT ANY TIME WITHOUT
                 ADVANCE NOTICE. ANY NEW CONTENT ADDED TO THIS WEBSITE WILL ALSO BE SUBJECT TO THESE TERMS AND CONDITIONS OF USE EFFECTIVE UPON THE DATE 
                OF ANY SUCH ADDITION. BY ACCESSING THIS WEBSITE, YOU ARE BOUND BY ANY SUCH MODIFICATIONS, CHANGES, SUPPLEMENTS AND UPDATES AND SHOULD 
                THEREFORE PERIODICALLY VISIT THIS PAGE TO REVIEW THE THEN CURRENT TERMS AND CONDITIONS TO WHICH YOU ARE BOUND.</p>
                <p>
                    <strong>Disclaimer </strong><br />
                    THIS WEBSITE AND ALL INFORMATION CONTAINED ON THIS WEBSITE ARE PROVIDED “AS IS” WITH NO GUARANTEES AS TO ACCURACY, COMPLETENESS OR TIMELINESS.
                    DISCOUNTOPTIONDATA.COM DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, (A) ANY WARRANTY FOR CONTENT,
                     INFORMATION, DATA, SERVICES, UNINTERRUPTED ACCESS, OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THIS WEBSITE; (B)
                     ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY, USEFULNESS, OR CONTENT OF INFORMATION, OR SERVICES OFFERED ON OR 
                    THROUGH THIS WEBSITE; (C) ANY WARRANTIES THAT THIS WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES, WORMS,
                     TROJAN HORSES OR OTHER HARMFUL COMPONENTS; (D) ANY WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS 
                    FOR A PARTICULAR PURPOSE, OR THAT THIS WEBSITE WILL BE COMPATIBLE WITH YOUR COMPUTER EQUIPMENT; AND (E) ANY WARRANTIES OF NON-INFRINGEMENT.
                </p>
                <p>
                    <strong>Limitation of Liability </strong><br />
                    DISCOUNTOPTIONDATA.COM IS NOT RESPONSIBLE FOR, AND EXPRESSLY DISCLAIMS, ALL LIABILITY FOR, DAMAGES, LOSSES OR EXPENSES OF ANY KIND,
                     WHETHER DIRECT OR INDIRECT, CONSEQUENTIAL, COMPENSATORY, ACTUAL, PUNITIVE, SPECIAL, INCIDENTAL OR EXEMPLARY, ARISING OUT 
                    OF USE, REFERENCE TO, OR RELIANCE ON ANY INFORMATION OBTAINED ON OR THROUGH THIS WEBSITE, REGARDLESS OF WHETHER OR NOT 
                    DISCOUNTOPTIONDATA.COMHAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE, LOSS OR EXPENSE.
                </p>
                <p>
                    <strong>Refund/Cancellation Policy </strong><br />
                    All purchases are final once delivery is confirmed.
                </p>

            </div>

        </div>
    </div>
    </div>
</div>